<section id="info">
    <article>
        <img src="./assets/fotos/yo.png" alt="yo" />
        <article>
            <h2>Juan Miguel Garrido Castillero</h2>
            <h3>Desarrollador de aplicaciones web</h3>
            <p>
                Soy un desarrollador de aplicaciones web apasionado con una sólida formación y experiencia. 
                Durante mi formación he adquirido las habilidades en tecnologías esenciales para la web moderna. 
                Alta capacidad de aprendizaje resolutivo en frontend y backend.
            </p>
        </article>
    </article>
</section>