<section id="info">
    <article>
        <img src="./assets/fotos/miFoto.jpg">
        <article>
            <h2>Juan Miguel Garrido Castillero</h2>
            <h3>Desarrollador de aplicaciones web</h3>
            <p>
                ¡Hola! Soy un desarrollador web apasionado con una sólida formación en el desarrollo
                de aplicaciones web. Durante mi formación y prácticas, he adquirido experiencia
                y habilidades en tecnologías esenciales para la web moderna.
            </p>
        </article>
    </article>
</section>