
<router-outlet></router-outlet>

<!-- 
<a href="https://www.flaticon.es/iconos-gratis/linkedln" title="linkedln iconos">Linkedln iconos creados por Muhammad Tajudin - Flaticon</a> 
<a href="https://www.flaticon.es/iconos-gratis/pdf" title="pdf iconos">Pdf iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos">Github iconos creados por Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/html5" title="html5 iconos">Html5 iconos creados por Bharat Icons - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/javascript" title="javascript iconos">Javascript iconos creados por UIUX Mall - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/php" title="php iconos">Php iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/angular" title="angular iconos">Angular iconos creados por iconizerapp - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/css" title="css iconos">Css iconos creados por Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/seo-y-web" title="seo y web iconos">Seo y web iconos creados por Graphix's Art - Flaticon</a>

-->
