/* You can add global styles to this file, and also import other style files */
*,p,h1,h2,h3,h4,h5{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: rgb(11, 31, 72);
    display: flex;
    align-content: center ;
    justify-content: center;
    flex-wrap: wrap;
}

app-root{
    height: 90%;
    background: white;
    border-radius: 15px;
    margin: 1%;
    border: 4px solid royalblue;
}

app-cuerpo{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#info{
    max-height: 200px;
    /* border: royalblue solid 3px; */
    border-radius: 15px;
}

#info article{
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center
}

#info article h2 , #info article h3{
    color:blue ;
    font-weight: bold;
}

#info img{
    border-radius: 15px;
}    

#info article article{
    width: 75%;
    height: 90%;
    display: block;
    font-weight: bold;
}

#contacto , #tecnologias{
    text-align: center;
    margin: 1%;
    width: 100%;
}

#contacto h4, #tecnologias h4{
    border-bottom: solid black 2px;
}

#contacto article , #tecnologias article{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#contacto img , #tecnologias img{
    height: 50px;
}

@media screen and (min-width: 1300px){
    app-root{
        width: 60%;
    }

    #info img{
        width: 10%;
    }    
        
}

@media screen and (min-width: 900px){
    app-root{
        width: 80%;
    }

    p{
        font-size: 1vw;
    }

    #info img{
        width: 15%;
        height: 90%;
        border-radius: 15px;
    }    
        
}

@media screen and (max-width: 900px){
app-root{
    width: 95%;
}
#info img{
    width: 25%;
    border-radius: 15px;
}    

p{
    font-size: 2vw;
}
    
}

@media screen and (max-width: 500px){
    #info article article{
        font-size: 2vw;
    }

    #info{
        height: auto;
    }

    #info article{
        flex-wrap: wrap;
    }
    
    #info article article{
        width: 100%;
    }

    #info img{
        width: 30%;
        height: auto;
        border-radius: 15px;
    }
        
    }
